// Navigation Styles here

header {
	nav {
		display: flex;
		flex-flow: row-reverse;
        justify-content: flex-end;
        align-content: center;

		a {
			text-decoration: none;
			color: white;

			&:link {
				text-decoration: none;
				color: white;
			}
		}
	}
}